ul.nav {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;;
}

.nav li {
	display: inline;
}

.nav a {
	width: 10%;
	text-align: center;
	display: inline-block;
	padding-bottom: 10px;
	padding-top: 10px;
	color: white;
	text-decoration: none;
	background: #1bb2e9;
}

.nav a:hover {
	color: #1bb2e9;
	background: #006a91; /*Dark Blue*/
}

ul.nav li:first-child a{
	margin-left: 0;
}

hr.horizontal {
	height: 1px;
	width: 100%;
	margin-top: 15px;
	border: 0;
	background: #1bb2e9; /* Light blue*/
}


div.maincontent {
	
	padding: 70px;
}


h1 {
	color:  #1bb2e9;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;;
} 
h2 {
  color:  #1bb2e9;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;;
}
 

ul.opplist {
  position: relative;
  width: 230px;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
 
  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}
 
