<!DOCTYPE html>

<html>
{% load staticfiles %}
<head>
  <title>TwitterBrawl - About</title>
  <link  rel="stylesheet" type="text/css" href="{% static 'brawler/style.css' %}" />
</head>


<body>

<!--BEGIN header-->
<div align="center">
  <img width="50%" <img src=" ../../static/brawler/images/logo.png" align = "middle"><br>
  <img width="20%" <img src=" ../../static/brawler/images/TwitterBrawl.png">
</div>
<br>
<ul class="nav">
  {% if logged_in %}
  <li><a href="/logout">Logout</a></li>
  {% else %}
  <li><a href="/login">Login</a></li>
  {% endif %}
  <li><a href="/about">About</a></li>
  {% if logged_in %}
  <li><a href="/brawl">Brawl</a></li>
  {% endif %}
   <li><a href="/test">Test</a></li>
</ul>

<hr class="horizontal">
<!--END header-->

<!--BEGIN body-->
<h1 align = "center"> About </h1>
<p> This is our CSCE Final Project!</p>

<!--BEGIN footer-->
<hr class="horizontal">

<div align="center">
  TwitterBrawl &copy; 2013
</div>
<!--END footer-->
</body>


</html>
