<!DOCTYPE html>

<html>
{% load staticfiles %}
<head>
  <title>TwitterBrawl - Brawl</title>
  <link  rel="stylesheet" type="text/css" href="{% static 'brawler/style.css' %}" />
</head>


<!--

<script type="text/javascript">
 
    function showOpponent(opponent) {
      //alert(eventID);
      var ProfileImgs = new Array();
      var ProfileImgs=document.getElementsByTagName("img");
    
      // hide all profiles with the toggle class
      for (i=0; i<ProfileImgs.length; i++) {
        if (ProfileImgs[i].className=="toggle") {
          ProfileImgs[i].style.display='none';
        } 
      }
      
    // show profile that is clicked
    document.getElementById("profileimg_" + opponent).style.display = 'inline';
    document.getElementById("hideimages").style.display = 'inline';


    }
    function hideAll() {
      var ProfileImgs = new Array();
      var ProfileImgs=document.getElementsByTagName("img");

      // hide all profiles with the toggle class
      for (i=0; i<ProfileImgs.length; i++) {
        if (ProfileImgs[i].className=="toggle") {
          ProfileImgs[i].style.display='none';
        } 
      }
      
    document.getElementById("hideimages").style.display = 'none';
    }
  
</script>
-->

<body>

<!--BEGIN header-->
<div align="center">
  <img width="50%" <img src=" ../../static/brawler/images/logo.png" align = "middle"><br>
  <img width="20%" <img src=" ../../static/brawler/images/TwitterBrawl.png">
</div>
<br>
<ul class="nav">
  <li><a href="/logout">Logout</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/brawl">Brawl</a></li>
</ul>

<hr class="horizontal">
<!--END header-->

<!--BEGIN body-->
<h1 align = "center"> Brawl </h1>
<div align="center">
  <table>
    <colgroup>
      <col style="width: 40%" />
      <col style="width: 20%" />
      <col style="width: 40%" />
    </colgroup>
    {% if opponents1 %}
    {% if opponents2 %}
    <form action="{% url 'brawler:brawl_function' %}" method = "post">
    {%csrf_token %}
      
      <tr>
        <td align = center>
            <select name = "opponent1" size = "10"/>
            {% for opponent in opponents1 %}
           <option value = "{{opponent}}"  >
            {{opponent}}</option><br></li>
            <img class = "toggle" id="profileimg_{{opponent}}" src="../../static/brawler/media/{{opponent}}.jpg" title="{{opponent}}" padding:5px;/>
            {% endfor %}
              </select>


      
        </td>
        <td align = center>
          <h1> VS </h1>
        </td>
        <td align = center>
            <select name = "opponent2" size = "10"/>
            {% for opponent in opponents2 %}
           <option value = "{{opponent}}" >{{opponent}}</option><br></li>
            {% endfor %}
              </select>


        </td>
        <td valign="top">
      <a onclick="hideAll()" id="hideimages" style="display:none;">[X]</a>
    </td>
      </tr>
   
  </table>
  <input type="submit" value="Brawl!"/>
  <br><br><br>
 
   </form>
   {% endif %}
   {% endif %}
</div>


<!--BEGIN footer-->
<hr class="horizontal">

<div align="center">
  TwitterBrawl &copy; 2013
</div>
<!--END footer-->
</body>


</html>

<!--

<h1 align = "center"> Brawl </h1>
<div align="center">
  <table>
    <colgroup>
      <col style="width: 40%" />
      <col style="width: 20%" />
      <col style="width: 40%" />
    </colgroup>
    <form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}> 
      {%csrf_token %}
      {{ form.non_field_errors }}
      <tr>
        <td align = center>
          <div class="fieldWrapper">
            {{ form.opponent1.errors }}
            <label for="opponent1"><b>Opponent 1</b> <br></label>
            {{ form.opponent1}}
          </div>
        </td>
        <td align = center>
          <h1> VS </h1>
        </td>
        <td align = center>
          <div class="fieldWrapper">
            {{ form.opponent2.errors }}
            <label for="opponent2"><b>Opponent 2</b><br></label>
            {{ form.opponent2}}
          </div>
        <td>
      </tr>
   
  </table>

  <br><br><br>
  <input type="submit" value="Brawl!" />
   </form>
</div>
-->