<!DOCTYPE html>

<html>
{% load staticfiles %}
<head>
	<title>TwitterBrawl - Home</title>
	<link  rel="stylesheet" type="text/css" href="{% static 'brawler/style.css' %}" />
</head>


<body>

<!--BEGIN header-->
<div align="center">
	<img width="50%" <img src=" ../../static/brawler/images/logo.png" align = "middle"><br>
	<img width="20%" <img src=" ../../static/brawler/images/TwitterBrawl.png">
</div>
<br>
<ul class="nav">
	<li><a href="/login">Login</a></li>
	<!--
	{% if has_registered %}
	<li><a href="../register">Pay</a></li>
    {% else %}
	<li><a href="../register">Register</a></li>
    {% endif %}
	-->

	<li><a href="/about">About</a></li>
	<li><a href="/brawl">Brawl</a></li>
</ul>

<hr class="horizontal">
<!--END header-->

<!--BEGIN body-->


<!--BEGIN footer-->
<hr class="horizontal">

<div align="center">
	TwitterBrawl &copy; 2013
</div>
<!--END footer-->
</body>


</html>
