<!DOCTYPE html>

<html>
{% load staticfiles %}
<head>
  <title>TwitterBrawl - Logout</title>
  <link  rel="stylesheet" type="text/css" href="{% static 'brawler/style.css' %}" />
</head>


<body>

<!--BEGIN header-->
<div align="center">
  <img width="50%" <img src=" ../../static/brawler/images/logo.png" align = "middle"><br>
  <img width="20%" <img src=" ../../static/brawler/images/TwitterBrawl.png">
</div>
<br>
<ul class="nav">
  <li><a href="/login">Login</a></li>
  <li><a href="/about">About</a></li>
   {% if logged_in %}
  <li><a href="/brawl">Brawl</a></li>
   {% endif %}
</ul>

<hr class="horizontal">
<!--END header-->

<!--BEGIN body-->
<h1 align = "center"> Logout </h1>
<div align="center">
You have been logged out.


</form>

  
<!--
<img width="15%" <img src=" ../../static/brawler/images/twitterlogin.png" align = "middle">
-->
</div>
<!--BEGIN footer-->
<hr class="horizontal">

<div align="center">
  TwitterBrawl &copy; 2013
</div>
<!--END footer-->
</body>


</html>
