<!DOCTYPE html>

<html>
{% load staticfiles %}
<head>
  <title>TwitterBrawl - Test</title>
  <link  rel="stylesheet" type="text/css" href="{% static 'brawler/style.css' %}" />
</head>


<body>

<!--BEGIN header-->
<div align="center">
  <img width="50%" <img src=" ../../static/brawler/images/logo.png" align = "middle"><br>
  <img width="20%" <img src=" ../../static/brawler/images/TwitterBrawl.png">
</div>
<br>
<ul class="nav">
  <li><a href="/logout">Logout</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/brawl">Brawl</a></li>
  <li><a href="/test">Test</a></li>
</ul>

<hr class="horizontal">
<!--END header-->

<!--BEGIN body-->
<h1 align = "center"> Brawling Test </h1>
<p>This page is a test page that reads relevent information from JSON files instead of API calls, the user being compared to is TheRealCaverlee</p>
<div align="center">
  <table>
    <colgroup>
      <col style="width: 40%" />
      <col style="width: 20%" />
      <col style="width: 40%" />
    </colgroup>
    {% if opponents1 %}
    {% if opponents2 %}
    <form action="{% url 'brawler:test_function' %}" method = "post">
    {%csrf_token %}
      
      <tr>
        <td align = center>
            <select name = "opponent1" size = "10"/>
            {% for opponent in opponents1 %}
           <option value = "{{opponent}}"  >
            {{opponent}}</option><br></li>
            <img class = "toggle" id="profileimg_{{opponent}}" src="../../static/brawler/media/{{opponent}}.jpg" title="{{opponent}}" padding:5px;/>
            {% endfor %}
              </select>


      
        </td>
        <td align = center>
          <h1> VS </h1>
        </td>
        <td align = center>
            <select name = "opponent2" size = "10"/>
            {% for opponent in opponents2 %}
           <option value = "{{opponent}}" >{{opponent}}</option><br></li>
            {% endfor %}
              </select>


        </td>
        <td valign="top">
      <a onclick="hideAll()" id="hideimages" style="display:none;">[X]</a>
    </td>
      </tr>
   
  </table>
  <input type="submit" value="Brawl!"/>
  <br><br><br>
 
   </form>
   {% endif %}
   {% endif %}
</div>


<!--BEGIN footer-->
<hr class="horizontal">

<div align="center">
  TwitterBrawl &copy; 2013
</div>
<!--END footer-->
</body>


</html>

